.tableList {
  .ant-table-tbody {
    .ant-checkbox-wrapper {
      //transition: opacity .1s linear;
      opacity: 0;
      &:hover {
        opacity: 1;
      }
    }
    .ant-checkbox-wrapper-checked {
      opacity: 1;
    }
  }
  .ant-table-column-sorters {
    white-space: nowrap;
  }
  .ant-table-row {
    cursor: pointer;
    .ant-table-cell {
      user-select: none;
    }
  }
  .nameWrap {
    display: flex;
    align-items: flex-start;
    .ant-typography {
      margin-bottom: 0;
    }
    //text-overflow: ellipsis;
    //overflow: hidden;
    //-webkit-box-orient: vertical;
    //display: -webkit-box;
    //-webkit-line-clamp: 2;
    //width: 100px;
  }
  .ant-table-column-sort {
    background: none;
  }
}

#toolBar {
  padding: 10px 0;
  border-bottom: 1px solid #f0f0f0;
  .toolBar {
    display: flex;
    justify-content: space-between;
    padding: 0 12px;
    .input {
      width: 50%;
      max-width: 200px;
    }
    .toolBar2 {
      button {
        margin: 0 3px;
        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}

